/*global start*/
body {
  font-family: "Marcellus", serif;
}

li {
  list-style: none;
}

a,
button {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 17px;
  font-weight: 400;
  color: #0C0B0B;
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: normal;
  }
}

h2 {
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  font-family: "Marcellus", serif;
}

h3 {
  font-size: 22px;
  line-height: normal;
  color: #969e69;
  font-family: "Marcellus", serif;
}

h4 {
  font-size: 18px;
  color: #969e69;
  font-weight: 600;
  font-family: "Marcellus", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Marcellus", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #0C0B0B;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #969e69;
}

.site-logo img {
  width: 100%;
  max-width: 140px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 500;
  color: #fff;
}
.site-nav a:hover {
  color: #969e69;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*cookie start*/
.cookie-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  left: 0;
}

.cookie-alert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

a.btn.btn-primary.accept-cookies {
  background: #969e69;
  padding: 6px 22px;
  font-size: 20px;
  border: 1px solid #969e69;
}
a.btn.btn-primary.accept-cookies:hover {
  background-color: transparent;
  color: #969e69;
  border: 1px solid #969e69;
}

/*cookie end*/
/*footer-css-start*/
.footer {
  background-color: #969e69;
  padding: 50px 0;
}
.footer-links {
  text-align: center;
}
.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.footer-logo {
  max-width: 160px;
  margin: 0 auto 20px;
}
.footer-links h2 {
  color: #0C0B0B;
}
.footer-links a {
  color: #fff;
}
.footer-links a:hover {
  color: #0C0B0B;
}
.footer-adresse h2 {
  color: #fff;
}
.footer-adresse p {
  color: #fff;
}

.mails-names {
  gap: 16px;
  display: flex;
  align-items: end;
}

.footer-mail {
  margin: 20px 0;
}
.footer-mail a {
  color: #fff;
}
.footer-mail a:hover {
  color: #0C0B0B;
}

.social-signals {
  text-align: center;
}
.social-signals i {
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  margin: 0 10px;
  border: 1px solid #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  transition: 0.3s all;
}
.social-signals i:hover {
  color: #fff;
  transform: translateY(-10px);
}

.footer_bottom {
  border-top: 1px solid #fff;
  padding: 10px;
  margin: 30px 0;
}
.footer_bottom p {
  text-align: center;
}
.footer_bottom p a {
  color: #0C0B0B;
}
.footer_bottom p a:hover {
  color: #fff;
}

/*footer-css-end*/
/*contact-css-start*/
.contact__section {
  position: relative;
  height: 350px;
  background-image: url(../images/contactbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.about_us_content {
  padding: 2rem;
  margin: 30px 0;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #969e69;
  padding: 2rem 2rem;
  background: transparent;
  color: #969e69;
}

.input-control:focus-visible {
  outline: none;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: transparent;
  border: 1px solid #fff;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #fff;
  color: #0C0B0B;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #969e69;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
}

/*contact-css-end/

/*privacy-policy start*/
.privacy__section {
  position: relative;
  height: 350px;
  background-image: url(../images/privacybanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.privacy__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #0C0B0B;
  font-family: "Barlow", sans-serif;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap li {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #0C0B0B;
  font-family: "Barlow", sans-serif;
}

.content-wrap h4 {
  color: #969e69;
  font-size: 21px;
  margin-bottom: 0;
}
.content-wrap p {
  font-size: 16px;
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section {
  position: relative;
  height: 350px;
  background-image: url(../images/termsbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.terms__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*terms-conditon-end/

/*home-css-start*/
section.homebanner {
  position: relative;
  height: 650px;
  background-image: url(../images/homebanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  object-fit: cover;
}
section.homebanner::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
  display: inline-block;
}

.homebanner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section.hometext {
  padding: 50px 0;
}

.hometext-text p {
  color: #0C0B0B;
}

.discover-picture img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.discover-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.discover-text.left {
  padding-left: 20px;
}

.discover-text.right {
  padding-right: 20px;
}

.traveltips-main {
  box-shadow: 0px 0px 30px 0px rgba(199, 199, 199, 0.5);
  padding: 10px 20px;
  height: 100%;
}

span.travelblock {
  font-size: 23px;
  color: #969e69;
}

.travel {
  padding: 50px 0;
  position: relative;
}
.travel h3 {
  margin-bottom: 20px;
}

.travelcard-inner span {
  color: #0C0B0B;
  font-size: 18px;
  display: block;
  text-align: center;
}

.travelcard img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.traveltips {
  display: flex;
  gap: 25px;
  padding: 16px 0;
}
.traveltips img {
  max-width: 45px;
  height: 45px;
  object-fit: cover;
  text-align: left;
}

/*home-css-end*/
/*leisure-css-start*/
section.leisurebanner {
  position: relative;
  height: 550px;
  background-image: url(../images/leisurebanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
section.leisurebanner::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
  display: inline-block;
}

.compare .heading {
  padding-bottom: 45px;
}
.compare .heading h2 {
  text-align: center;
}
.compare .box {
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 100%;
}
.compare .box .content-box {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
}
.compare .box .content-box h3 {
  color: #969e69;
  font-size: 26px;
  font-weight: 700;
}
.compare .box .content-box p {
  color: #0C0B0B;
  text-align: justify;
}
.compare .box .content-box span {
  font-weight: 700;
  font-size: 18px;
}
.compare .box img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.box-btn a {
  background: #969e69;
  border: 1px solid #969e69;
  border-radius: 5px;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #ffffff;
  text-transform: capitalize;
}
.box-btn a:hover {
  background-color: transparent;
  border: 1px solid #969e69;
  color: #969e69;
}

.col-sm-12.col-md-6.col-lg-4.outer {
  margin-bottom: 15px;
}

/*leisure-css-end*/
/*hotel-css-start*/
section.hotelbanner {
  position: relative;
  height: 550px;
  background-image: url(../images/hotelbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
section.hotelbanner::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
  display: inline-block;
}

.why_choose_card img {
  max-width: 70px;
  filter: invert(1);
}

.why_choose_card h3 {
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 20px;
}

.why_choose_card p {
  color: #fff;
}

.why_choose_card {
  color: #fff;
  text-align: start;
  border: unset;
  height: 100%;
  padding: 25px 15px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px 20px;
}
.why_choose_card li {
  font-family: "Barlow", sans-serif;
}

.why_choose_card:hover h3 {
  color: var(--main-color);
}

.why_choose {
  background-position: center;
  background-image: url(../images/hotelbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 50px 0;
}

.why_choose::before {
  top: 0;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.768627451);
  z-index: -1;
}

.luxhotel_card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: all 0.5s;
}

.luxhotel_card img:hover {
  filter: brightness(0.5);
}

.why_choose_card .box-btn {
  margin: 25px 0;
}

.accordion-body p {
  font-size: 17px;
  font-family: "Barlow";
  color: #0C0B0B;
  margin-bottom: 20px;
}

.accordion-button:focus {
  box-shadow: none !important;
}

button.accordion-button.collapsed,
button.accordion-button {
  color: #0C0B0B;
  font-size: 24px;
  font-family: "Barlow";
  background-color: #969e69 !important;
  padding-left: 15px !important;
}

.accordion-button:not(.collapsed) {
  color: #0C0B0B;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/accordion-minus.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.accordion-button::after {
  background-image: url(../images/accordion-plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
}

/*hotel-css-end*/
/*entertainmentbanner-css-start*/
.entertainmentbanner {
  position: relative;
  height: 550px;
  background-image: url(../images/entertainmentbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.entertainmentbanner::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
  display: inline-block;
}

section.entertainmentmain {
  background: #f6f4e6;
  padding: 50px 0;
}

.entertainmentcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 30px 0;
}

.entertainmentcard-picture img {
  height: 350px;
  object-fit: cover;
}

/*entertainmentbanner-css-end*/


/*# sourceMappingURL=style.css.map */
