/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Marcellus', serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: transparent;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: $clr-black;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-green;
}

.site-logo img {
    width: 100%;
    max-width: 140px;
}

.site-nav a {
    padding: 8px 12px !important;
    display: inline-block;
    font-weight: 500;
    color: $clr-white;

    &:hover {
        color: $clr-green;
    }
}


.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}


/*header end*/

/*cookie start*/
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

a.btn.btn-primary.accept-cookies {
    background: $clr-green;
    padding: 6px 22px;
    font-size: 20px;
    border: 1px solid $clr-green;
    &:hover{
        background-color: transparent;
        color: $clr-green;
        border: 1px solid $clr-green;
    }
}

/*cookie end*/

/*footer-css-start*/
.footer {
    background-color: $clr-green;
    padding: 50px 0;

    &-links {
        text-align: center;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }

    &-logo {
        max-width: 160px;
        margin: 0 auto 20px;
    }

    &-links {
        h2 {
            color: $clr-black;
        }

        a {
            color: $clr-white;

            &:hover {
                color: $clr-black;
            }
        }
    }

    &-adresse {
        h2 {
            color: $clr-white;
        }

        p {
            color: $clr-white;
        }
    }


}

.mails-names {
    gap: 16px;
    display: flex;
    align-items: end;
}

.footer-mail {
    margin: 20px 0;

    a {
        color: $clr-white;
    }

    a:hover {
        color: $clr-black;
    }
}

.social-signals {
    text-align: center;

    i {
        color: $clr-white;
        border-radius: 30px;
        font-size: 18px;
        margin: 0 10px;
        border: 1px solid $clr-white;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 36px;
        transition: .3s all;

        &:hover {
            color: $clr-white;
            transform: translateY(-10px);
        }
    }
}

.footer_bottom {
    border-top: 1px solid $clr-white;
    padding: 10px;
    margin: 30px 0;

    p {

        text-align: center;

        a {
            color: $clr-black;

            &:hover {
                color: $clr-white;
            }
        }
    }
}


/*footer-css-end*/

/*contact-css-start*/
.contact__section {
    position: relative;
    height: 350px;
    background-image: url(../images/contactbanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
    }
}


.about_us_content {
    padding: 2rem;
    margin: 30px 0;
}

.form-group {
    margin-bottom: 2rem;
}

.input-control {
    display: block;
    width: 100%;
    height: 4rem;
    border: 1px solid $clr-green;
    padding: 2rem 2rem;
    background: transparent;
    color: $clr-green;
}

.input-control:focus-visible {
    outline: none;
}

textarea.input-control {
    resize: none;
    height: auto;
}

.form-group .submit-btn {
    background: $clr-green;
    border: 1px solid $clr-green;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 0.8rem 4rem;
    color: $clr-white;
    text-transform: capitalize;

    &:hover {
        background-color: $clr-white;
        color: $clr-black;
    }
}

.form-group label {
    display: inline-block;
    padding-bottom: 5px;
    color: $clr-green;
    transition: all 0.2s linear;
    text-transform: capitalize;
    font-family: "Barlow", sans-serif;
}

/*contact-css-end/

/*privacy-policy start*/
.privacy__section {
    position: relative;
    height: 350px;
    background-image: url(../images/privacybanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
    }
}

.privacy-policy {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            color: $clr-black;
            font-family: "Barlow", sans-serif;
            padding-bottom: 10px;
        }
    }
}

.terms {
    padding: 40px 0;

    .content-wrap {
        li {
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            color: $clr-black;
            font-family: "Barlow", sans-serif;
            padding-bottom: 15px;
        }

    }
}

.content-wrap {
    h4 {
        color: $clr-green;
        font-size: 21px;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        padding-bottom: 15px;
    }
}

/*privacy-policy end*/

/*terms-conditon start*/
.terms__section {
    position: relative;
    height: 350px;
    background-image: url(../images/termsbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.55);
        z-index: -1;
    }
}

/*terms-conditon-end/

/*home-css-start*/
section.homebanner {
    position: relative;
    height: 650px;
    background-image: url(../images/homebanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    object-fit: cover;

    &::before {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 0;
        display: inline-block;
    }
}

.homebanner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.hometext {
    padding: 50px 0;

}

.hometext-text {
    p {
        color: $clr-black;
    }
}

.discover {
    &-picture img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.discover-text.left {
    padding-left: 20px;
}

.discover-text.right {
    padding-right: 20px;
}

.traveltips-main {
    box-shadow: 0px 0px 30px 0px rgba(199, 199, 199, 0.5);
    padding: 10px 20px;
    height: 100%;
}

span.travelblock {
    font-size: 23px;
    color: $clr-green;
}

.travel {
    padding: 50px 0;
    position: relative;

    h3 {
        margin: 30px 0;
    }

}

.travelcard-inner span {
    color: $clr-black;
    font-size: 18px;
    display: block;
    text-align: center;
}

.travelcard img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.traveltips {
    display: flex;
    gap: 25px;
    padding: 16px 0;

    img {
        max-width: 45px;
        height: 45px;
        object-fit: cover;
        text-align: left;
    }
}

/*home-css-end*/

/*leisure-css-start*/
section.leisurebanner {
    position: relative;
    height: 550px;
    background-image: url(../images/leisurebanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::before {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 0;
        display: inline-block;
    }
}

.compare {
    .heading {
        padding-bottom: 45px;

        h2 {
            text-align: center;
        }
    }

    .box {
        position: relative;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 20px;
        height: 100%;

        .content-box {
            transition: all .3s ease;
            background-color: $clr-white;
            margin: 0 auto;
            border-radius: 8px;

            h3 {
                color: $clr-green;
                font-size: 26px;
                font-weight: 700;
            }

            p {
                color: $clr-black;
                text-align: justify;
            }

            span {
                font-weight: 700;
                font-size: 18px;
            }
        }

        img {
            height: 250px;
            width: 100%;
            object-fit: cover;
            transition: all .3s ease;
            ;
        }
    }
}

.box-btn a {
    background: $clr-green;
    border: 1px solid $clr-green;
    border-radius: 5px;
    transition: all 0.2s linear;
    display: inline-block;
    padding: 0.8rem 4rem;
    color: #ffffff;
    text-transform: capitalize;

    &:hover {
        background-color: transparent;
        border: 1px solid $clr-green;
        color: $clr-green;
    }
}

.col-sm-12.col-md-6.col-lg-4.outer {
    margin-bottom: 15px;
}

/*leisure-css-end*/

/*hotel-css-start*/
section.hotelbanner {
    position: relative;
    height: 550px;
    background-image: url(../images/hotelbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::before {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 0;
        display: inline-block;
    }
}

.why_choose_card img {
    max-width: 70px;
    filter: invert(1);
}

.why_choose_card h3 {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 20px;
}

.why_choose_card p {
    color: #fff;
}

.why_choose_card {
    color: #fff;
    text-align: start;
    border: unset;
    height: 100%;
    padding: 25px 15px;
    border: 1px solid rgb(255 255 255 / 35%);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px 20px;

    li {
        font-family: "Barlow", sans-serif;
    }
}

.why_choose_card:hover h3 {
    color: var(--main-color);
}

.why_choose {
    background-position: center;
    background-image: url(../images/hotelbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 50px 0;
}

.why_choose::before {
    top: 0;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #000000c4;
    z-index: -1;
}

.luxhotel_card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all 0.5s;
}

.luxhotel_card img:hover {
    filter: brightness(0.5);
}

.why_choose_card .box-btn {
    margin: 25px 0;
}

.accordion-body p {
    font-size: 17px;
    font-family: 'Barlow';
    color: $clr-black;
    margin-bottom: 20px;
}

.accordion-button:focus {
    box-shadow: none !important;
}


button.accordion-button.collapsed,
button.accordion-button {
    color: $clr-black;
    font-size: 24px;
    font-family: "Barlow";
    background-color: $clr-green !important;
    padding-left: 15px !important;
}

.accordion-button:not(.collapsed) {
    color: $clr-black;
}



.accordion-button:not(.collapsed)::after {
    background-image: url(../images/accordion-minus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accordion-button::after {
    background-image: url(../images/accordion-plus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

/*hotel-css-end*/

/*entertainmentbanner-css-start*/
.entertainmentbanner {
    position: relative;
    height: 550px;
    background-image: url(../images/entertainmentbanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    &::before {
        position: absolute;
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 0;
        display: inline-block;
    }
}

section.entertainmentmain {
    background: $clr-creme;
    padding: 50px 0;
}

.entertainmentcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 30px 0;
}

.entertainmentcard-picture img {
    height: 350px;
    object-fit: cover;
}

/*entertainmentbanner-css-end*/

/*# sourceMappingURL=style.css.map */